@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #333333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1b1b1f;
    --foreground: #f2f2f2;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
a {
  @apply text-primary-500 hover:text-primary-600 transition-colors hover:underline hover:underline-offset-2 flex flex-wrap justify-center items-center gap-2;
}
a > img, a > svg {
  @apply fill-primary-500 w-4 h-4 transition-colors;
}
header {
  @apply bg-dark-white-transparent dark:bg-light-black text-light-white dark:text-dark-white;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
